<ion-header>
    <ion-toolbar>
        <ion-title>Портфолио</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/public/home" text="" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="add">
        <form [formGroup]="addForm">
            <ion-item>
                <ion-label position="floating">Название раздела</ion-label>
                <ion-input formControlName="categoryName" placeholder="Введите название нового раздела" required
                           type="text"></ion-input>
            </ion-item>
            <ion-button (click)="submit(addForm)" [disabled]="!addForm.valid" color="primary" expand="block">
                Добавить раздел
            </ion-button>
        </form>
    </div>
    <ion-list inset="true">
        <ion-item-sliding class="item" *ngFor="let item of items">
            <ion-item (click)="detail(item.id)">
                <div class="item-name">
                    {{ item.name }}
                </div>
            </ion-item>
            <ion-item-options side="end">
                <button class="item-delete" (click)="delete(item.id)">Удалить</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
