@import "../../../theme/mixins/items";
@import "../../../theme/mixins/skeletons";

@include notification_skeleton_mixin;

.item {
  @include item_base_mixin;

  &-title {
    font-size: .9rem;
  }

  &-date {
    font-size: .7rem;
    color: #aeb4b1;
    padding-top: .3rem;
  }
}