<ion-header>
    <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/public/users/detail/{{userId}}" text="" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-user-public-info [user]="user" [statuses]="usersStatuses"></app-user-public-info>
    <div class="gallery">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
</ion-content>
