<b>Пользовательское Соглашение</b><br><br>
Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ООО "МАСК Групп"
(далее или Администрация) с одной стороны и пользователем сайта с другой.<br>
Сайт не является средством массовой информации.<br>
Используя настоящее приложение, Вы соглашаетесь с условиями данного соглашения.<br>
Если Вы не согласны с условиями данного соглашения, не используйте приложение и удалите его!

<br><br><b>Предмет соглашения</b><br><br>
Администрация предоставляет пользователю право на размещение на сайте следующей информации:<br><br>
- Текстовой информации<br>
- Фотоматериалов<br>
- Ссылок на материалы, размещенные на других сайтах

<br><br><b>Права и обязанности сторон</b><br><br>
Пользователь имеет право:<br>
- осуществлять поиск информации на сайте<br>
- получать информацию на сайте<br>
- создавать информацию для сайта<br>
- комментировать контент, выложенный на сайте<br>

<br><br><b>Администрация имеет право:</b><br><br>
- по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
- ограничивать доступ к любой информации на сайте<br>
- создавать, изменять, удалять информацию<br>
- удалять учетные записи<br>
- отказывать в регистрации без объяснения причин

<br><br><b>Пользователь обязуется:</b><br><br>
- обеспечить достоверность предоставляемой информации<br>
- обеспечивать сохранность личных данных от доступа третьих лиц<br>
- обновлять Персональные данные, предоставленные при регистрации, в случае их изменения<br>
- не копировать информацию с других источников<br>
- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой
или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена
уголовная или административная ответственность<br>
- не нарушать работоспособность сайта<br>
- не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу<br>
- не совершать действия, направленные на введение других Пользователей в заблуждение<br>
- не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим
лицам<br>
- не регистрировать учетную запись от имени или вместо другого лица за исключением случаев,
предусмотренных законодательством РФ<br>
- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а
также иную информацию, размещение которой запрещено или противоречит нормам действующего
законодательства РФ<br>
- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с
Сайтом и его Сервисами<br>

<br><br><b>Администрация обязуется:</b><br><br>
- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от
Администрации причинам.<br>
- предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной
власти в случаях, установленных законом<br>

<br><br><b>Ответственность сторон</b><br><br>
- пользователь лично несет полную ответственность за распространяемую им информацию<br>
- администрация не несет никакой ответственности за достоверность информации, скопированной из других
источников<br>
- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных
услуг<br>
- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное
бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а
также бесперебойную работу информационного ресурса<br>

<br><br><b>Условия действия Соглашения</b><br><br>
Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
Соглашение перестает действовать при появлении его новой версии.<br>
Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему
усмотрению.<br>
Администрация не оповещает пользователей об изменении в Соглашении.<br>
