ion-item {
  --padding-start: 0;
}

.form {
  padding: 1rem;

  &-image {
    & > ion-avatar {
      margin: 0 auto;
    }
  }

  &-change-password {
    margin: 1rem 0 1rem 0;
    color: #4c8dff;

    & > ion-icon {

    }
  }

  & > form > ion-button {
    margin-top: 1.5rem;
  }
}