<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/public/home" text="" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-users-items-list-skeleton [isLoaded]="isLoaded"></app-users-items-list-skeleton>

<ion-content>
    <ion-list inset="true">
        <app-users-items-list [items]="items" [statuses]="usersStatuses"></app-users-items-list>
    </ion-list>
</ion-content>
